@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Exo+2:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Cabin", sans-serif;
           user-select: none;
        list-style: none;
    } 
}